// ! BG
$bg-body: black;

// ! Nav
$bg-nav: #1c1c1c;
$nav-links: #ffffff;
$nav-border: #e27866;

// ! Hero
$hero-1: #ffffff;
$hero-2: #333333;
$hero-3: #e27866;
$hero-4: #41d395;
$hero-5: #f5f5f5;
$hero-6: #d8d8d8;

// ! Social media
$social-1: #333333;
$social-2: #86878b;
$social-3: #ffffff;

// ! About
$about-1: #ffffff;
$about-2: #e27866;
$about-3: #a37169;
$about-4: #212121;
$about-5: #86878b;
$about-6: #333333;

// ! Pricing
$pricing-1: #6696e2;
$pricing-2: #ffffff;
$pricing-3: #333333;
$pricing-4: #41d395;
$pricing-5: #86878b;

// ! Reviews
$reviews-1: #1c1c1c;
$reviews-2: #ffffff;
$reviews-3: #333333;
$reviews-4: #86878b;
$reviews-5: #e27866;
$reviews-6: #6696e2;

//  ! Contacts
$contacts-1: #e27866;
$contacts-2: #ffffff;
$contacts-3: #1c1c1c;
$contacts-4: #41d395;

// ! Footer
$footer-1: #1c1c1c;
$footer-2: #e27866;
$footer-3: #ffffff;
